<header>
  <nav class="bg-gray-800 text-white">
    <div class="container mx-auto px-4">
      <div class="flex justify-between items-center py-4">
        <div class="flex items-center">
          <img src="./assets/images/logo.png" alt="Logo" class="h-12">
          <span class="ml-3 text-xl font-bold">Hurl Studio</span>
        </div>
        <div class="hidden lg:flex space-x-6">
          <a href="index.html" class="hover:text-blue-500">Home</a>
          <a href="yoga.html" class="hover:text-blue-500">Yoga</a>
          <a href="cardio-exercise.html" class="hover:text-blue-500">Cardio Exercise</a>
          <a href="bungee-fitness.html" class="hover:text-blue-500">Bungee Fitness</a>
          <a href="aerial-yoga.html" class="hover:text-blue-500">Aerial Yoga</a>
          <a href="about-us.html" class="hover:text-blue-500">About Us</a>
          <a href="book-an-appointment.html" class="hover:text-blue-500">Book an Appointment</a>
        </div>
        <div class="lg:hidden">
          <button id="menu-btn" class="focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
          </button>
        </div>
      </div>
      <div id="mobile-menu" class="lg:hidden hidden">
        <a href="index.html" class="block py-2 hover:text-blue-500">Home</a>
        <a href="yoga.html" class="block py-2 hover:text-blue-500">Yoga</a>
        <a href="cardio-exercise.html" class="block py-2 hover:text-blue-500">Cardio Exercise</a>
        <a href="bungee-fitness.html" class="block py-2 hover:text-blue-500">Bungee Fitness</a>
        <a href="aerial-yoga.html" class="block py-2 hover:text-blue-500">Aerial Yoga</a>
        <a href="about-us.html" class="block py-2 hover:text-blue-500">About Us</a>
        <a href="book-an-appointment.html" class="block py-2 hover:text-blue-500">Book an Appointment</a>
      </div>
    </div>
  </nav>
 </header>